<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{{ page.collection }}">

    <a id='top'></a>

    {% include header.html %}

    {% if page.onepage %}
      {% assign classname = 'top-shift' %}
    {% else %}
      {% assign classname = '' %}
    {% endif %}

    <div id="main" class="{{ classname }}">
      {{ content }}
    </div>

    {% include footer.html %}

    {% for path in site.data.assets.js %}

    {%- if path contains '://' -%}
    {%- assign src = path -%}
    {%- else -%}
    {%- assign src = path | relative_url -%}
    {%- endif -%}

    <script src="{{ src }}" type="text/javascript"></script>
    {% endfor %}
    <script>
      console.log('loaded all js');
    </script>
  </body>
</html>
